<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <br/><br>
    <H3>Edit Listing</H3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Title:</label>
            <input class="form-control" type="text" name="listing[title]" value="<%=listing.title%>" required/> 
            <div class="valid-feedback">Title looks Good!</div>

        </div>
        <div class="mb-3">
            <label class="form-label">Description:</label>
        <input class="form-control" required type="text" name="listing[description]" value="<%=listing.description%>"/> 
        <div class="invalid-feedback">Please enter a short description</div>

    </div>
    <div class="mb-3 container">
        Original Listing Image<br/>
        <img src="<%= listing.image.url %>">
    </div>
        <div class="mb-3">
           
            <label for="image" class="form-label">Upload New Image:</label>
        <input class="form-control" type="file" name="listing[image]"/> 
        <div class="invalid-feedback">Please enter a short description</div>

    </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label">price:</label>
            <input class="form-control" required type="text" name="listing[price]" value="<%=listing.price%>"/> 
            <div class="invalid-feedback">Please enter a valid price</div>

        </div>
            <div class="mb-3 col-md-8">
                <label class="form-label">country:</label>
            <input class="form-control" required type="text" name="listing[country]" value="<%=listing.country%>"/> 
            <div class="invalid-feedback">Country should be valid!</div>

        </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label">location:</label>
            
            <input class="form-control" required type="text" name="listing[location]" value="<%=listing.location%>"/> 
            <div class="invalid-feedback">Location should be valid!</div>

            <button class="btn btn-dark add-btn mt-3">Edit Listing</button>
            
        </div>  
        <br/><br/>
    </form>
    </div></div>
</body>
